[submodule "lemmy-docs"]
	path = lemmy-docs
	url = https://github.com/lemmynet/lemmy-docs
	branch = main
[submodule "joinlemmy-translations"]
	path = joinlemmy-translations
	url = https://github.com/lemmynet/joinlemmy-translations
	branch = main
[submodule "lemmy-translations"]
	path = lemmy-translations
	url = https://github.com/lemmynet/lemmy-translations
	branch = main
[submodule "lemmy-instance-stats"]
	path = lemmy-instance-stats
	url = https://github.com/LemmyNet/lemmy-instance-stats
	branch = main
