:root {
  --font-family-sans: Inter, Helvetica, Roboto, sans-serif;
  --grid-maxWidth: 108rem;
  --grid-gutter: 4rem;
  --color-success: #fafafa;
  --bg-color: #222222;
  --bg-secondary-color: #131316;
  --font-color: #f5f5f5;
  --color-grey: #ccc;
  --color-darkGrey: #777;
  --color-success: #222222;
}
.card {
  webkit-box-shadow: unset;
  box-shadow: unset;
  border: 1px solid var(--color-darkGrey) !important;
}
.stylized {
  font-family: "CaviarDreams", Fallback, sans-serif;
  font-size: 4em;
  font-weight: bold;
  margin: 0;
}
.icon {
  display: inline-block;
  max-width: 1.5rem;
  max-height: 1.5rem;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
p {
  font: 1.2em/1.62 sans-serif;
}
.join-banner {
  width: 100%;
  height: 100px;
  object-fit: scale-down;
}
.app-banner {
  width: 100%;
  height: 300px;
  object-fit: scale-down;
}
.app-icon {
  display: inline-block;
  height: 30px;
  width: 30px;
  margin-right: 10px;
}
img {
  max-width: unset;
}
.footer-name {
  display: inline-block !important;
  padding: 0px 6px 0px 6px !important;
}

.gold {
  border-color: #ffd700 !important;
  color: #ffd700;
}

.language-selector {
  margin-top: 7px;
  background-color: #333;
}
