{% extends "base.html" %}
{% block content %} 

<div class="text-center">
  <h1 class="stylized">Lemmy</h1>
  <p>A link aggregator for the fediverse.</p>
  <p><a class="button primary" href="/join">Get Started</a></p>
  <img src="https://www.fillmurray.com/600/300">
</div>

<div class="text-center">
  <h2>Subscribe to communities anywhere in the world</h2>
  <p><a href="https://github.com/LemmyNet">Lemmy</a> is similar to sites like <a href="https://reddit.com">Reddit</a>, <a href="https://lobste.rs">Lobste.rs</a>, <a href="https://raddle.me">Raddle</a>, or <a href="https://news.ycombinator.com/">Hacker News</a>: you subscribe to communities you're interested in, post links and discussions, then vote, and comment on them. Lemmy isn't just a reddit alternative; its a network of interconnected communities ran by different people and organizations, all combining to create <b>a single, personalized front page</b> of interesting news, articles, and memes. </p>

  <h2>Create your own discussion platform</h2>
  <p>With Lemmy, you can easily host your own server, and all these servers are <i>federated</i> (think email), and connected to the same universe, called the <a href="https://en.wikipedia.org/wiki/Fediverse">Fediverse</a>. For a link aggregator, this means that someone registered on one server can subscribe to communities elsewhere, and can have discussions with people on a completely different server.</p>
  <p>
</div>

<div class="row">
  <div class="col-4">
    <div>
      <header class="is-center">
        <img src="https://www.fillmurray.com/600/300">
      </header>
      <h4 class="text-center">Powerful Mod tools</h4>
      <p>Each Lemmy server can set its own moderation policy; appointing site-wide admins, and community moderators to keep out the trolls, and foster a healthy, non-toxic environment where all can feel comfortable contributing.</p>
    </div>
  </div>
  <div class="col-4">
    <div>
      <header class="is-center">
        <img src="https://www.fillmurray.com/600/300">
      </header>
      <h4 class="text-center">Some feature</h4>
      <p>A longer description of the feature hereA longer description of the feature hereA longer description of the feature here</p>
    </div>
  </div>
  <div class="col-4">
    <div>
      <header class="is-center">
        <img src="https://www.fillmurray.com/600/300">
      </header>
      <h4 class="text-center">Some feature</h4>
      <p>A longer description of the feature here</p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-6">
    <img src="https://www.fillmurray.com/400/400">
  </div>
  <div class="col-6">
    <h4>Some feature</h4>
    <p>A longer description of the feature here</p>
  </div>
</div>

<div class="text-center">
  <h2>Open source</h2>
  <p>Some sub heading text</p>
  <a class="button primary" href="/join">Get Started</a>
</div>

<div class="text-center">
  <h2>Another headline</h2>
  <p>Some more sub description here</p>
</div>

{% endblock content %}
