@import "tailwindcss" source(".");
@plugin "@tailwindcss/typography";

@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "halloween";
  default: true;
  --color-primary: var(--color-green-600);
  --color-secondary: var(--color-cyan-500);
}

@theme {
  --font-*: initial;
  --font-sans: Inter, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

.lemmy-select {
  @apply select select-sm w-fit text-gray-400;
}

.text-gradient {
  @apply bg-linear-to-r bg-clip-text text-transparent from-green-400 to-green-600;
}

.card-gradient {
  @apply bg-linear-to-r from-zinc-500/5 via-cyan-600/15 to-zinc-500/5;
}

.background-gradient-1 {
  @apply min-h-full bg-linear-to-r from-transparent via-green-500/15 to-transparent;
}

.background-gradient-2 {
  @apply min-h-full bg-linear-to-b from-transparent to-black/30 to-20%;
}

.icon {
  @apply block max-w-16 max-h-16 stroke-0 stroke-current fill-current;
}

@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/Inter.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
